body
{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  color: white;
}

#contenido {
  width: 900px;
  margin: 0 auto;
  display: -webkit-flex;
	display: flex;
	flex-direction: column;
  -webkit-flex-direction: column;
  animation: mianimacion 3s;
}

header {
  width: 100%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 0 0 10px #02010a;
  display: flex;
  flex-direction: row;
}
header {
  animation: rebote 1s;
}

@-webkit-keyframes rebote{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%
  }
}


@media (max-width: 900px) {
  #contenido{
    width: 100%;
  }
  header{
    display: flex;
    flex-direction: column;
  }
  div[class*="hcolum"]{
    padding-left: 0;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
    }
   }
.hcolum1 {
     width: 100%;
     text-indent:  15px;
   }

.hcolum2 {
  width: 100%;
  font-size: 18pt;
display: flex;
align-items:center;
justify-content: center;
}
.hcolum2 a {
  color: white;
  margin: 15px;
}
.hcolum2 .actual {
  text-decoration: none;
}
.img-central {
  background-color: #82c3a6;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-central img {
  width: 85%;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 2px #02010a;
}

#img-secun{
  border: 1px;
  width: 100%;
  background-color:  #d5c75f;
  display: flex;
  flex-direction: row;

}
#img-secun div{
  width: 100%;
  text-align: center;
}

#img-secun a{
  color: black;
  font-size: 15pt;
}
#img-secun img{
  -webkit-box-shadow: 2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;
  width: 85%;
  margin-top: 15px;
}
#img-secun .paisaje1{
  transition-duration: 1s;
}
#img-secun .paisaje1:hover{
  transform: rotate(10deg);
}
#img-secun .retrato{
  transition-duration: 1s;
}
#img-secun .retrato:hover{
  transform: translate(20px, -5px);
}

#imgs2 .retrato{
animation-name: img2-animacion;
animation-duration: 2s;
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
-o-animation-delay: 1s;
animation-delay: 1s;
}
@media (max-width: 900px) {
  #contenido{
    width: 100%;
  }
     #img-secun {
       display: flex;
       flex-direction: column;
     }
     div[class*="imgs"]{
       padding-left: 0;
       padding-bottom: 5%;
       width: 100%;
       }
    }

#img-secunp {
  width: 100%;
  background-color:  #d5c75f;
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;
}
#img-secunp div {
  width: 100%;
  text-align: center;
  margin: auto;

}
#img-secunp img {
  -webkit-box-shadow: 2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;
  width: 85%;
  margin: 15px;
}
.imagenp2, .imagenp4, .imagenp6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.imagenp1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.imagenp3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
  @media (max-width: 900px) {
    #contenido{
      width: 100%;
    }
       #img-secunp {
         display: flex;
         flex-direction: column;
       }
       div[class*="imgp"]{
         padding-left: 0;
         padding-bottom: 0;
         width: 100%;
         }
      }
  #contactos {
        width: 100%;
        color: black;
        background-color: #C6d5c5;
        display: flex;
        flex-direction: row;
        border-radius: 0 0 10px 10px;

  }
#contactos div{
        width: 100%;
    text-align: left;
    margin: 30PX;
     }

  @media (max-width: 900px) {
        #contenido{
          width: 100%;
        }
           #contactos {
             display: flex;
             flex-direction: column;
              }
           div[class*="pie"]{
             width: 100%;
             text-align: left;
           }
    }
